<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th colspan="7"><center>Note</center></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"><center>Actions</center></th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= raw note.description %></td>
        <td><%= link_to "Edit", edit_note_path(note),remote: true,
           class: "glyphicon glyphicon-edit" %></td>
        <td>  <%= link_to "Show", note_path(note), remote:true,
                class: "	glyphicon glyphicon-expand"%></td>
        <td><%= link_to "Delete", delete_note_path(note),remote:true,
            class: "glyphicon glyphicon-trash" %></td>
        <td><%= link_to "Share", new_note_sharenote_path(note), remote:true,
             class: "glyphicon glyphicon-share"%></td>
        <td><span class="pull-right" style="font-size:12px;">
                 <% note.tag_list.each do |tag| %>
                   <u>
                     <%= link_to tag, tagged_notes_path(tag: tag) ,remote:true %>
                   </u>
                 <% end %>
             </span>
          </td>

      </tr>
    <% end %>
  </tbody>
</table>
