<%= tinymce_assets %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>New Note</h3>
    </div>
    <%= form_for note, remote: true, html: { style: "display:inline;"} do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>
        <div class="form-group">
          <%= f.label :title, class:"control-label" %>
          <%= f.text_field :title, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "control-label" %>
          <%= f.text_area :description, class: "form-control tinymce" %>
        </div>
        <div class="form-group">
          <%= f.label :price, class: "control-label" %>
          <%= f.text_field :price, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :tag_list, class: "control-label" %>
          <%= f.text_field :tag_list, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :user_id, class: "control-label" %>
          <%= f.hidden_field :user_id, value: current_user.id , class: "from-control"%>
        </div>
      </div>
      <div class="modal-footer">
        <% if current_user.autosave %>
          <script type="text/javascript">
            $(function()
            {
              if ($("#new_note").length > 0)
              {
                setInterval(autoSavePost, 10000);
              }
            });
            function autoSavePost()
            {
              tinymce.triggerSave();
              $.ajax
              ({
                type: "POST",
                url: "notes",
                data: $("#new_note").serialize(),
                dataType: "script",
                success: function(data)
                {
                  console.log(data);
                  console.log("Success");
                }
              });
              setInterval(autoSavePost, 10000);
            }
          </script>
        <% else %>
          <%= f.submit class: "btn btn-primary"%>
        <% end %>
          <%= link_to "Cancel","#", class: "btn btn-danger",
           data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
<%= tinymce %>
